<div class="signin-form">
  <div class="main-form">
    <h2>Reset password</h2>
    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <div class="form-group">
        <%= password_input f, :password, class: "form-control input-lg", placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%= password_input f, :password_confirmation, class: "form-control input-lg", placeholder: "Password confirmation" %>
      </div>
      <div class="form-group">
        <%= submit "Submit", class: "btn btn-success btn-lg btn-block submit-btn" %>
      </div>
    <% end %>
  </div>
</div>
