<div class="signin-form">
  <div class="main-form">
    <h2>Reset password</h2>
    <p class="hint-text">Please enter your email to reset password</p>
    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <div class="form-group">
        <%= text_input f, :email, class: "form-control input-lg", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= submit "Submit", class: "btn btn-success btn-lg btn-block submit-btn" %>
      </div>
    <% end %>
  </div>
</div>
