<div class="signin-form">
  <div class="main-form">
    <h2>Sign in</h2>
    <p class="hint-text">Sign in with your social media account</p>
    <div class="social-btn text-center">
      <%= link to: Routes.pow_assent_authorization_path(@conn, :new, :github), class: "btn btn-primary btn-lg" do %>
      <i class='fa fa-github' aria-hidden='true'></i>
      <% end %>
    </div>
    <div class="or-seperator"><b>or</b></div>
    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <div class="form-group">
        <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "form-control input-lg", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= password_input f, :password, class: "form-control input-lg", placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%= submit "Sign in", class: "btn btn-success btn-lg btn-block signup-btn" %>
      </div>
      <div class="text-center small"><%= link "Forgot Your password?", to: Routes.pow_reset_password_reset_password_path(@conn, :new) %></div>
    <% end %>
  </div>
  <div class="text-center small">Don't have an account? <%= link "Sign up", to: Routes.pow_registration_path(@conn, :new) %></div>
</div>
