body {
  color: #434343;
  background: #dfe7e9;
  font-family: 'Varela Round', sans-serif;
}

.form-control {
  font-size: 16px;
  transition: all 0.4s;
  box-shadow: none;
}

.form-control.input-search {
  display: inline;
  width: 70%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-control.input-comment {
  display: inline;
  width: 80%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-control:focus {
  border-color: #5cb85c;
}

.form-control, .btn {
  border-radius: 50px;
  outline: none !important;
}

.btn.btn-search {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none !important;
}

.signin-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.signin-form.movie {
  width: inherit;
}

.signin-form .main-form {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 43px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.signin-form .main-form.movie{
  height: 100%;
  min-height: 100vh;
}

.signin-form a {
  color: #5cb85c;
}

.signin-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
}

.signin-form .hint-text {
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

.signin-form .form-group {
  margin-bottom: 20px;
}

.signin-form .btn {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.signin-form .small {
  font-size: 13px;
}

.signup-btn {
  text-align: center;
  border-color: #5cb85c;
  transition: all 0.4s;
}

.signup-btn:hover {
  background: #5cb85c;
  opacity: 0.8;
}

.or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}

.social-btn .btn {
  color: #fff;
  margin: 10px 0 0 30px;
  font-size: 15px;
  width: 55px;
  height: 55px;
  line-height: 38px;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  border: none;
  transition: all 0.4s;
}

.social-btn .btn:first-child {
  margin-left: 0;
}

.social-btn .btn:hover {
  opacity: 0.8;
}

.social-btn .btn-primary {
  background: #507cc0;
}

.social-btn .btn-info {
  background: #64ccf1;
}

.social-btn .btn-danger {
  background: #df4930;
}

.social-btn .btn i {
  font-size: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.ft-20 {
    font-size: 20px;
}
