<div style="padding-top: 100px; text-align: center">
  <%= form_for @conn, Routes.movie_path(@conn, :index), [method: :get], fn f -> %>
    <div class="form-group">
      <%= search_input f, :query, class: "form-control input-lg input-search", placeholder: 'Searching' %>
      <%= submit "Search", class: "btn btn-search btn-success btn-lg register-btn" %>
    </div>
  <% end %>
</div>

<div class="site-wrap">
  <div class="site-section bg-light">
    <div class="container">
      <div class="row align-items-stretch retro-layout-2">
        <%= for movie <- @movies do %>
          <div class="col-md-6">
            <%= link to: Routes.movie_path(@conn, :show, movie.id), class: "h-entry mb-30 v-height gradient", style: 'background-image: url("#{MovieSpace.Image.url({movie.image, movie}, :thumb)}")' do %>
              <div class="text">
                <h2><%= movie.title  %></h2>
                <span class="description"><%= movie.description %></span>
                <br/>
                <span class="date"><%= movie.release_date %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
