<div class="signin-form">
  <div class="main-form">
    <h2>Create Movie</h2>
    <%= form_for @changeset, Routes.movie_path(@conn, :create), [multipart: true], fn f -> %>
      <div class="form-group">
        <%= text_input f, :title, class: "form-control input-lg", placeholder: "Title" %>
      </div>
      <div class="form-group">
        <%= text_input f, :description, class: "form-control input-lg", placeholder: "Description" %>
      </div>
      <div class="form-group">
        <%= text_input f, :genres, name: "movie[genres][]", class: "form-control input-lg", placeholder: "Genres" %>
      </div>
      <div class="form-group">
        <%= date_select f, :release_date, class: "form-control input-lg" %>
      </div>
      <div class="form-group">
        <%= file_input f, :image, class: "form-control input-lg" %>
      </div>
      <div class="form-group">
        <%= submit "Create", class: "btn btn-success btn-lg btn-block register-btn" %>
      </div>
    <% end %>
  </div>
</div>
