<div class="signin-form movie">
  <div class="container">
    <div class="main-form movie">
      <div class="col-md-6 text-center">
        <h3><%= @movie.title %></h3>
        <%= img_tag(MovieSpace.Image.url({@movie.image, @movie}, :original)) %>
      </div>

      <div class="col-md-6 mt-80 ft-20">
        <ul>

          <li>
            <strong>Description:</strong>
            <%= @movie.description %>
          </li>

          <li>
            <strong>Release date:</strong>
            <%= @movie.release_date %>
          </li>

          <li>
            <strong>Genres:</strong>
            <%= MovieSpace.Movies.Movie.genres_list(@movie) %>
          </li>

        </ul>
      </div>
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">Comments</h1>
          <%= live_render(@conn, MovieSpaceWeb.CommentLive, session: %{"current_user_id" => Pow.Plug.current_user(@conn).id, "movie_id" => @movie.id}) %>
        </div>
      </div>
    </div>
  </div>
</div>
