<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link "Movie Space", class: "navbar-brand", to: Routes.movie_path(@conn, :index) %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <%= if Pow.Plug.current_user(@conn) do %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link "New Movie", to: Routes.movie_path(@conn, :new) %></li>
            <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li class="active">
          <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
