<div class="signin-form">
  <div class="main-form">
    <h2>Create Account</h2>
    <p class="hint-text">Please fill out the registration form</p>
    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <div class="form-group">
        <%= text_input f, :name, class: "form-control input-lg", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "form-control input-lg", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= password_input f, :password, class: "form-control input-lg", placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%= password_input f, :password_confirmation, class: "form-control input-lg", placeholder: "Password confirmation" %>
      </div>
      <div class="form-group">
        <%= submit "Register", class: "btn btn-success btn-lg btn-block register-btn" %>
      </div>
    <% end %>
  </div>
</div>
